* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%
}

header {
    background-color: lightblue;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: black;
}

.logo span {
    color: red;
}

.navigation a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-right: 40px;
}

.navigation a:hover {
    color: blue;
    background-color: orange;
    font-size: 19px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 8px 35px;
    border-radius: 10px;
}

.btn:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

.main-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: space-around;

}

.main-content h2 {
    font-size: 50px;
}

.main-content span {
    color: blue;
    margin-left: 10px;
}

.main-content h4 {
    font-size: 30px;
}

.main-content p {
    padding: 10px 0 30px 0;
    font-size: 25px;
}

.button-group a {
    color: blue;
    text-align: none;
    padding: 10px 40px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    text-decoration: none;
}

.button-group .blue-button {
    color: white;
    background-color: blue;
}

.button-group .blue-button:hover {
    color: blue;
    background-color: white;
}

.button-group .white-button {
    color: blue;
    background-color: white;
    margin-left: 30px;
}

.button-group .white-button:hover {
    color: white;
    background-color: blue;
}

.profile-photo {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.profile-info {
    max-width: 500px;
}
.fa{
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    margin-top: 80px;
    text-decoration: none;
    background: #2a4de8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #2a4de8;
    font: normal normal 14px / 1 FontAwesome;
    font-size: initial;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
}
.but-group a:hover {
    transition: .3s;
    background-color: white;
    color: #7d2ae8;
}